*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    background-color: #f7f7f7

.container
    background-color: #f7f7f7
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

.show 
    display: block

.hide 
    display: none

.fade 
    animation-name: fade
    animation-duration: 1.5s
